@theme {
  --font-roboto: 'Roboto', sans-serif;
  --color-accent: #a18a68;
  --color-black: #000000;
  --color-black-hover: #222222;
  --color-white-light: #ffffff;
  --color-dark-gray: #707070;
  --color-gray: #d8d8d8;
}

@tailwind base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    @apply font-roboto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-[33px] font-medium leading-[43px] text-center text-black;
  }
}
